:root {
    --skyblue: #5377A6;
    --cloud: #759CBF;
    --tree: #23260E;
    --sand: #BFAE99; 
    --rock: #593E34;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--tree);
    color: var(--sand);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}
  
nav a {
    color: var(--cloud);
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: var(--skyblue);
    color: white;
}

#hero {
    min-height: 100%;
    margin-bottom: 25px;
    background-image: url(./images/dennycove1.jpg);
    background-size: cover;
    background-position: center;
}

